h1,h4{
	display:inline;
}
h1{
	font-size:3vw;
}
h4{
	font-size:2vw;
	position: relative;
	left: 10vw;
}
form{
	border-style:solid;
	position: absolute;
	top: 3vh;
	right: 3vw;
	height:15vh;
	width: 16vw;

	
}
ul{
	overflow:hidden;
	border-style:solid;
    background-color: #f1f1f1;
    padding: 1%;
    position:relative;
    top: 10%;
}
li{
	overflow:hidden;
	border-style:solid;
	display:inline;
	padding:1% 5.4%;
	font-size:150%;
}
li:hover{
    background-color: black;
    color:white;
}